@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.benefits_banner {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.company_section {
  width: 100%;
  text-align: center;
}

.company_heading {
  font-size: 0.75em;
  color: colors.$clr-font-para-ltst;
}

.company_logo_container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.company_logo {
  width: 23%;
  margin: 0 0.5rem;
}

.benefits_heading_container {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

.benefits_heading {
  font-size: 1.375em;
  font-weight: 500;
  color: colors.$clr-black;
}

.benefits_description {
  margin: 2rem auto;
  width: 90%;
  font-size: 0.875em;
  line-height: 1.2em;
  color: colors.$clr-font-para-lt;
}

.benefits_card_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.benefits_card {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1rem 1.2rem 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: colors.$clr-white;
  border-radius: 5px;
  position: relative;
}

.benefits_card_image_background {
  width: max-content;
  padding: 1px;
  background-color: colors.$clr-primary-09;
}

.benefits_card_img {
  width: 49px;
  height: 48px;
}

.benefits_card_heading {
  font-size: 1em;
  font-weight: 400;
}

.benefits_card_heading strong {
  font-weight: 600;
}

.benefits_card_description {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.2em;
  color: colors.$clr-font-para;
}

.benefits_card_shadow {
  width: 72%;
  height: 40%;
  position: absolute;
  left: 14%;
  bottom: 10px;
  z-index: -10;
  box-shadow: 0px 4px 41px 14px rgba(0, 102, 255, 0.15);
}

.radial_background {
  display: none;
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .company_heading {
    font-size: 1.125em;
  }
  .company_logo {
    width: max-content;
    margin: 0 1rem;
  }
  .benefits_heading_container {
    margin: 5rem 0;
  }
  .benefits_heading {
    font-size: 1.75em;
  }
  .benefits_description {
    width: 50%;
    font-size: 1.125em;
  }
  .benefits_card_container {
    width: 80%;
    flex-direction: row;
    gap: 0;
  }
  .benefits_card {
    width: 22%;
  }
  .benefits_card_heading {
    font-size: 1.25em;
  }
  .benefits_card_description {
    font-size: 1em;
  }
  .radial_background {
    display: block;
    position: absolute;
    width: 650px;
    height: 650px;
    top: -20%;
    left: -15%;
    z-index: -10;
    background: radial-gradient(
      34.47% 27.99% at 50% 50%,
      rgba(18, 113, 255, 0.13) 0%,
      rgba(4, 105, 255, 0) 100%
    );
  }
}
