@use '../abstracts/colors' as colors;

@mixin action-btn {
  padding: 0.6rem 2rem;
  color: colors.$color-primary-white;
  background-color: colors.$color-primary-blue;
  list-style: none;
  border-radius: 5px;
  &:hover,
  &:focus,
  &:active {
    color: colors.$color-primary-white;
    background-color: colors.$color-primary-dark;
  }
}
