@use '../abstracts/sizes' as sizes;
@use '../abstracts/colors' as colors;

@mixin action-btn {
  padding: sizes.$ets-3 sizes.$m-0;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  list-style: none;
  border-radius: sizes.$border-radius;
  transition: background-color 0.3s linear;
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-white;
    background-color: colors.$clr-secondary;
  }
}
