@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/components/buttons' as act_btn;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.banner_container,
.secondary_banner_container {
  padding: 2.8rem 1rem;
  width: 100%;
  text-align: center;
}

.banner_container {
  background-color: colors.$clr-secondary-white;
}

.secondary_banner_container {
  background-color: colors.$clr-white;
}

.banner_container > a,
.secondary_banner_container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.8rem auto 1rem auto;
  width: max-content;
  text-align: center;
  @include act_btn.action_btn;
  > svg {
    width: 15px;
    margin: 0 0.4rem;
  }
  > p {
    line-height: 23px;
    margin: 0 0 0 0.4rem;
  }
}

.secondary_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: 1.4rem;
  font-size: 0.8em;
  margin: 0;
}

.secondary_banner_main_heading {
  margin: 0;
  font-size: 1.8em;
}

.secondary_banner_discription {
  line-height: 1.4rem;
  margin: 0.4rem 0 1rem 0;
  display: block;
  font-size: 0.8em;
  color: colors.$clr-grey-lt;
}

.courses_detail_card_container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.courses_detail_card {
  width: 100%;
  padding: 1rem 1.6rem;
  text-align: center;
  transform: translateY(0%);
  transition: transform 0.3s linear;
  > a {
    color: colors.$clr-primary;
  }
  &:hover,
  &:focus,
  &:active {
    transform: translateY(-3%);
  }
}

.courses_detail_card_icon svg {
  width: 50px;
  height: 50px;
}

.courses_detail_card_heading {
  font-size: 1.2em;
  margin-bottom: 0;
}

.courses_detail_card_discription {
  line-height: 1.5em;
  font-size: 1.2em;
  color: colors.$clr-grey-lt;
}

@media screen and (min-width: breakpoints.$tablet-screen) {
  .courses_detail_card_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .courses_detail_card {
    width: 50%;
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .courses_detail_card {
    width: 30%;
    margin: auto;
    text-align: start;
  }
}
