.banner {
  width: 100%;
}

.banner_container {
  width: 100%;
  background-color: #f8f9f8;
  padding: 3rem 0;
  margin-bottom: 2rem;
  position: relative;
}

.banner_text {
  color: #221638;
  font-weight: 800;
  font-size: 2.2em;
  display: grid;
  place-items: center;
}

.cross {
  display: none;
}
