.banner {
  width: 100%;
}

.banner_container {
  width: 90%;
  background-color: rgba(83, 82, 237, 0.9);
  margin: 2rem auto;
  padding-top: 5rem;
  border-radius: 15px;
}

.banner_image {
  margin-left: 2rem;
  object-fit: contain;
  position: relative;
  bottom: -3px;
  transform: rotate(0.25deg);
}
