@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;
@use '../../../styles/components/buttons' as act_btn;

.secondary_banner {
  width: sizes.$wd-100;
}

.secondary_banner_container {
  background-color: colors.$clr-secondary-white;
  padding: sizes.$m-4 sizes.$s-0;
  width: sizes.$wd-100;
  text-align: center;
}

.secondary_banner_container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: sizes.$m-4 auto sizes.$s-0 auto;
  width: max-content;
  text-align: center;
  @include act_btn.action_btn;
  > svg {
    width: 15px;
    margin: 0 0.4rem;
  }
  > p {
    line-height: 23px;
    margin: 0 0 0 0.4rem;
  }
}

.secondary_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: sizes.$s-2;
  font-size: fonts.$fs-i-lg;
  margin: 0;
}

.secondary_banner_main_heading {
  margin: 0;
  font-size: fonts.$fs-md-s;
}

.secondary_banner_discription {
  line-height: sizes.$s-2;
  margin: sizes.$ets-2 0 sizes.$s-0 0;
  display: block;
  font-size: fonts.$fs-i-lg;
  color: colors.$clr-grey-lt;
}

.courses_detail_card_container {
  width: sizes.$wd-90;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.courses_detail_card {
  width: sizes.$wd-50;
  padding: sizes.$s-0 sizes.$s-3;
  text-align: center;
  > a {
    color: colors.$clr-primary;
  }
}

.courses_detail_card_icon {
  width: 150px;
  height: 50px;
  background-color: colors.$clr-black;
}

.courses_detail_card_heading {
  font-size: fonts.$fs-nr-s;
  margin-bottom: 0;
}

.courses_detail_card_discription {
  line-height: fonts.$fs-nr;
  font-size: fonts.$fs-sm-s;
  color: colors.$clr-grey-lt;
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .courses_detail_card {
    width: sizes.$wd-30;
    margin: auto;
    text-align: start;
  }
}
