@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.banner {
  width: 100%;
  background-color: colors.$clr-main-background;
}

.banner_container {
  width: 80%;
  margin: auto;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.banner_main_content {
  width: 100%;
  margin: auto;
  text-align: center;
}

.banner_headline {
  line-height: 1.2em;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 0;
}

.banner_discription {
  line-height: 1.6rem;
  font-size: 0.9em;
  color: colors.$clr-black-20;
}

.banner_explore_form {
  display: flex;
  margin-bottom: 1.6rem;
  flex-direction: column;
}

.banner_explore_form input[type='text'] {
  width: 100%;
  border-radius: 5px 0 0 5px;
  padding: 0.8em 0.4em 0.8em 0.8em;
  font-size: 1em;
  background-color: colors.$clr-white;
  border: 0.1px solid colors.$clr-white-40;
  transition: border 0.3s linear;
  color: colors.$clr-black-20;
  &:active,
  &:focus {
    border: 0.1px solid colors.$clr-primary-17;
  }
}

.banner_explore_form_submit_btn {
  width: 30%;
  border: none;
  margin: 1rem auto 0 auto;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 0.8em 0.8em;
  font-size: 1em;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  transition: background-color 0.2s linear;
  &:hover,
  &:active,
  &:focus {
    color: colors.$clr-white;
    background-color: colors.$clr-secondary;
  }
}

.banner_trending_links_container {
  .banner_trending_para {
    display: inline;
    color: colors.$clr-black-60;
    margin-right: 0.6rem;
  }
  .banner_trending_links {
    text-decoration: underline;
    margin-right: 0.6rem;
  }
}

.banner_image_container {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  margin: 2rem;
  div {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: auto;
  }
}

.banner_image_container {
  .image_circle_animation {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 1%;
    right: 10%;
    z-index: 0;
    animation-name: image_circle_animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .image_weird_animation {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0;
    bottom: 10%;
    right: 5%;
    animation-name: image_weird_animation;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.banner_card_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: colors.$clr-main-background;
}

.banner_card_container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: colors.$clr-white;
}

.banner_card {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid colors.$clr-main-background;
  justify-content: space-evenly;
  background-color: colors.$clr-white;
  &:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }
  &:nth-child(2) {
    border-radius: 0;
  }
  &:nth-child(3) {
    border-radius: 0 5px 5px 0;
  }
}

.card_img_container svg {
  width: 50px;
  height: auto;
}

.banner_card .card_img_container svg path {
  fill: colors.$clr-black;
}

.banner_card:hover .card_img_container svg path,
.banner_card:focus .card_img_container svg path,
.banner_card:active .card_img_container svg path {
  fill: colors.$clr-primary;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards_heading {
  font-weight: 700;
  margin: 1rem 0 0 0;
  font-size: 1em;
}

.card_summary {
  font-weight: 400;
  color: colors.$clr-black-20;
  font-size: 1em;
}

.banner_cards_last_para {
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
}

@keyframes image_circle_animation {
  0% {
    transform: translateY(0) scale(0.9);
  }
  50% {
    transform: translateY(10%) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(0.9);
  }
}

@keyframes image_weird_animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .banner_container {
    width: 90%;
    flex-direction: row;
    padding: 1.8rem 0;
  }
  .banner_main_content {
    width: 50%;
    margin-right: 0;
    text-align: start;
  }
  .banner_headline {
    font-size: 3em;
  }
  .banner_discription {
    font-size: 1em;
  }
  .banner_explore_form {
    flex-direction: row;
  }
  .banner_explore_form input[type='text'] {
    width: 70%;
  }
  .banner_explore_form_submit_btn {
    margin: 0;
    width: 20%;
    border-radius: 0 5px 5px 0;
  }
  .banner_image_container {
    width: 50%;
    div {
      width: 90%;
      margin: auto;
    }
  }
  .banner_card_container {
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
  }
  .banner_card {
    width: 30%;
    flex-direction: column;
    text-align: start;
  }
  .banner_cards_last_para {
    font-size: 2em;
  }
}
