//* LIGHT COLORS

$clr-white: rgba(255, 255, 255, 1);
$clr-white-80: rgba(255, 255, 255, 0.8);
$clr-white-60: rgba(255, 255, 255, 0.6);
$clr-white-40: rgba(255, 255, 255, 0.4);
$clr-white-20: rgba(255, 255, 255, 0.2);

//* DARK COLORS

$clr-black: rgba(0, 0, 0, 1);
$clr-black-80: rgba(0, 0, 0, 0.8);
$clr-black-60: rgba(0, 0, 0, 0.6);
$clr-black-40: rgba(0, 0, 0, 0.4);
$clr-black-20: rgba(0, 0, 0, 0.2);

//* UI COLORS

$clr-primary: rgba(18, 113, 255, 1);
$clr-primary-17: rgba(18, 113, 255, 0.17);
$clr-primary-14: rgba(18, 113, 255, 0.14);
$clr-primary-09: rgba(18, 113, 255, 0.09);
$clr-primary-04: rgba(18, 113, 255, 0.04);

$clr-secondary: rgba(0, 240, 181, 1);
$clr-secondary-50: rgba(0, 240, 181, 0.5);
$clr-secondary-40: rgba(0, 240, 181, 0.4);

$clr-card-white: rgba(244, 244, 244, 1);
$clr-main-background: rgba(229, 229, 229, 1);
$clr-secondary-background: rgba(18, 113, 255, 0.04);

$clr-footer: rgba(17, 16, 32, 1);

//* FONT COLORS

$clr-font-dark: rgba(39, 45, 78, 1);
$clr-font-grey: rgba(52, 52, 52, 1);
