// heading fonts
$fs-etlg: 3em;
$fs-lg: 2.5em;
$fs-lg-s: 2.2em;
$fs-md: 2em;
$fs-md-s: 1.8em;
$fs-nr: 1.5em;
$fs-nr-s: 1.2em;
$fs-sm: 1em;
$fs-sm-s: 0.9em;

// size of fonts to be used as increment
$fs-i-etsm: 0.2em;
$fs-i-sm: 0.4em;
$fs-i-md: 0.6em;
$fs-i-lg: 0.8em;
