@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.banner {
  width: sizes.$wd-100;
  background-color: colors.$clr-secondary-white;
  margin-top: sizes.$l-3;
}

.banner_container {
  width: sizes.$wd-80;
  margin: auto;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.banner_main_content {
  width: sizes.$wd-100;
  margin: auto;
  text-align: center;
}

.banner_headline {
  line-height: fonts.$fs-nr-s;
  font-weight: 800;
  font-size: fonts.$fs-md;
  margin-bottom: 0;
}

.banner_discription {
  line-height: sizes.$s-3;
  font-size: fonts.$fs-sm-s;
  color: colors.$clr-grey-lt;
}

.banner_explore_form {
  display: flex;
  margin-bottom: sizes.$s-1;
  flex-direction: column;
}

.banner_explore_form input[type='text'] {
  width: sizes.$wd-100;
  border-radius: sizes.$border-radius 0 0 sizes.$border-radius;
  padding: fonts.$fs-i-lg fonts.$fs-sm;
  font-size: fonts.$fs-sm;
  background-color: colors.$clr-white-ltr;
  border: 1px solid colors.$clr-grey-ltst;
  &:active,
  &:focus {
    border: 1px solid colors.$clr-primary;
  }
}

.banner_explore_form_submit_btn {
  width: sizes.$wd-30;
  border: none;
  margin: sizes.$s-0 auto 0 auto;
  cursor: pointer;
  text-align: center;
  border-radius: sizes.$border-radius;
  padding: fonts.$fs-i-lg fonts.$fs-sm;
  font-size: fonts.$fs-sm;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  &:hover,
  &:active,
  &:focus {
    color: colors.$clr-white;
    background-color: colors.$clr-secondary;
  }
}

.banner_trending_links_container {
  .banner_trending_para {
    display: inline;
    color: colors.$clr-grey;
    margin-right: sizes.$ets-3;
  }
  .banner_trending_links {
    text-decoration: underline;
    margin-right: sizes.$ets-3;
  }
}

.banner_image_container {
  width: sizes.$wd-100;
  margin: sizes.$m-0 auto;
  div {
    width: sizes.$wd-100;
    margin: auto;
  }
}

.banner_card_section {
  width: sizes.$wd-100;
  display: flex;
  flex-direction: column;
  background-color: colors.$clr-secondary-white;
}

.banner_card_container {
  width: sizes.$wd-90;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: colors.$clr-white;
}

.banner_card {
  width: sizes.$wd-100;
  padding: sizes.$s-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid colors.$clr-secondary-white;
  justify-content: space-evenly;
  background-color: colors.$clr-white;
  &:nth-child(1) {
    border-radius: 5px 0 0 5x;
  }
  &:nth-child(2) {
    border-radius: 0;
  }
  &:nth-child(3) {
    border-radius: 0 5px 5px 0;
  }
}

.card_img_container svg {
  width: 50px;
  height: auto;
}

.banner_card .card_img_container svg path {
  fill: colors.$clr-black;
}

.banner_card:hover .card_img_container svg path,
.banner_card:focus .card_img_container svg path,
.banner_card:active .card_img_container svg path {
  fill: colors.$clr-primary;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards_heading {
  font-weight: 700;
  margin: sizes.$s-0 0 0 0;
  font-size: fonts.$fs-sm;
}

.card_summary {
  font-weight: 400;
  color: colors.$clr-grey-lt;
  font-size: fonts.$fs-sm;
}

.banner_cards_last_para {
  font-weight: 400;
  text-align: center;
  font-size: fonts.$fs-nr;
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .banner_container {
    width: sizes.$wd-90;
    flex-direction: row;
    padding: sizes.$s-4 0;
  }
  .banner_main_content {
    width: sizes.$wd-50;
    margin-right: 0;
    text-align: start;
  }
  .banner_headline {
    font-size: fonts.$fs-etlg;
  }
  .banner_discription {
    font-size: fonts.$fs-sm;
  }
  .banner_explore_form {
    flex-direction: row;
  }
  .banner_explore_form input[type='text'] {
    width: sizes.$wd-70;
  }
  .banner_explore_form_submit_btn {
    margin: 0;
    width: sizes.$wd-20;
    border-radius: 0 sizes.$border-radius sizes.$border-radius 0;
  }
  .banner_image_container {
    width: sizes.$wd-50;
    div {
      width: sizes.$wd-90;
      margin: auto;
    }
  }
  .banner_card_container {
    width: sizes.$wd-90;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
  }
  .banner_card {
    width: sizes.$wd-30;
    flex-direction: column;
    text-align: start;
  }
  .banner_cards_last_para {
    font-size: fonts.$fs-md;
  }
}
