@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;
@use '../../../styles/components/buttons' as act_btn;

.category_banner {
  width: sizes.$wd-100;
}

.category_banner_section {
  background-color: colors.$clr-secondary-white;
  padding: sizes.$m-4 sizes.$s-0;
  width: sizes.$wd-100;
  text-align: center;
  > a {
    margin: sizes.$m-4 auto sizes.$s-0 auto;
    display: block;
    width: max-content;
    @include act_btn.action_btn;
  }
}

.category_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: sizes.$s-2;
  font-size: fonts.$fs-i-lg;
  margin: 0;
}

.category_banner_main_heading {
  margin: 0;
  font-size: fonts.$fs-md-s;
}

.category_banner_discription {
  line-height: sizes.$s-2;
  margin: sizes.$ets-2 0 sizes.$s-0 0;
  display: block;
  font-size: fonts.$fs-i-lg;
  color: colors.$clr-grey-lt;
}

.category_card_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // outline: 1px solid red;
  justify-content: center;
}

.category_card_container {
  display: block;
  width: 42%;
  height: 150px;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.category_card {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../../../public/images/categorie-img1.jpeg');
  background-size: cover;
  background-color: colors.$clr-primary-ltst;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-in;
  position: relative;
  > span {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    color: colors.$clr-white;
    border: none;
    border-radius: 10px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .category_card_container {
    width: 29%;
    height: 200px;
  }
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .category_card_container {
    width: 29%;
  }
}
