@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/components/buttons' as act_btn;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.count_upto_container,
.bottom_banner_section_our_experts,
.bottom_banner_section_online_certification,
.bottom_banner_section_blog,
.bottom_banner_section_newsletter {
  width: 100%;
  padding: 4rem 1.8rem;
  width: 100%;
  text-align: center;
}

.count_upto_container {
  background-color: colors.$clr-main-background;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.count_upto {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.counter_heading_container {
  color: colors.$clr-primary;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  > p {
    margin: 0;
    font-size: 1.5em;
  }
}

.count_upto_counter {
  color: colors.$clr-primary;
  font-size: 1.2em;
  margin: 0;
}

.count_upto_discription {
  text-transform: uppercase;
  font-size: 1em;
  font-size: 0.8em;
}

.bottom_banner_section_our_experts {
  background-color: colors.$clr-main-background;
}

.bottom_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: 1.4rem;
  font-size: 0.8em;
  margin: 0;
}

.bottom_banner_main_heading {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 1.8em;
}

.bottom_banner_discription {
  width: 90%;
  line-height: 1.4rem;
  margin: 0.4rem auto 1rem auto;
  display: block;
  font-size: 0.9em;
  color: colors.$clr-main-background;
}

.bottom_banner_section_online_certification {
  background-color: colors.$clr-main-background;
  position: relative;
}

.bottom_banner_section_online_certification > a {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.8rem auto 1rem auto;
  width: max-content;
  text-align: center;
  @include act_btn.action_btn;
  padding: 0 2rem;
  > svg {
    width: 15px;
    margin: 0 0.4rem;
  }
  > p {
    line-height: 47px;
    margin: 0 0 0 0.4rem;
  }
}

.bottom_banner_section_online_certification {
  .online_certification_filled_circle_animation {
    display: none;
  }
  .online_certification_concentric_circle_animation {
    display: none;
  }
  .online_certification_strip_animation {
    display: none;
  }
}

.bottom_banner_section_blog {
  background-color: colors.$clr-white;
}

.bottom_banner_blog_para {
  width: 90%;
  line-height: 1.4rem;
  margin: 3rem auto 2rem auto;
  display: block;
  font-size: 0.9em;
  color: colors.$clr-black-20;
  > a {
    color: colors.$clr-primary;
  }
}

.bottom_banner_section_newsletter {
  background-color: colors.$clr-main-background;
  position: relative;
}

.newsletter_form {
  display: flex;
  margin: 0 auto 1.2rem auto;
  flex-direction: column;
  width: 90%;
  position: relative;
  z-index: 10;
}

.newsletter_form input[type='text'] {
  width: 100%;
  margin: auto;
  border-radius: 5px 0 0 5px;
  padding: 0.8em 1em;
  font-size: 1em;
  background-color: colors.$clr-white;
  border: 1px solid colors.$clr-black-20;
  &:active,
  &:focus {
    border: 1px solid colors.$clr-primary;
  }
}

.newsletter_form button {
  width: max-content;
  margin: 1rem auto 0 auto;
  padding: 0.8em 1em;
  font-size: 0.9em;
  cursor: pointer;
  align-items: center;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s linear;
  > p {
    font-size: 1.2em;
    line-height: 1em;
    margin: 0 0 0 0.4rem;
  }
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-white;
    background-color: colors.$clr-secondary;
  }
}

.bottom_banner_section_newsletter {
  .newsletter_concentric_circle_animation {
    display: none;
  }
  .newsletter_strip_animation {
    display: none;
  }
  .newsletter_plane_animation {
    display: none;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes BottomBanner_rotateInfinte__2xsUC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes newsletterPlaneAnimation {
  0% {
    transform: translateY(0) scale(0.9);
  }
  50% {
    transform: translateY(10%) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(0.9);
  }
}

@media screen and (min-width: breakpoints.$tablet-screen) {
  .bottom_banner_section_newsletter {
    .newsletter_concentric_circle_animation {
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 60px;
      left: 5%;
      top: 30%;
      animation-name: zoomOut;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .newsletter_strip_animation {
      display: inline-block;
      position: absolute;
      z-index: 0;
      left: 5%;
      top: 40%;
      width: 110px;
      height: 110px;
      animation-name: BottomBanner_rotateInfinte__2xsUC;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .newsletter_plane_animation {
      display: inline-block;
      position: absolute;
      z-index: 0;
      right: 5%;
      top: 20%;
      width: 150px;
      height: 150px;
      animation-name: newsletterPlaneAnimation;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .count_upto {
    width: 20%;
    font-size: 1.5em;
  }
  .bottom_banner_section_online_certification {
    .online_certification_filled_circle_animation {
      display: inline-block;
      position: absolute;
      width: 130px;
      height: 130px;
      left: 10%;
      top: 50%;
      animation-name: upDown;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .online_certification_concentric_circle_animation {
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 15%;
      top: 50%;
      animation-name: zoomOut;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .online_certification_strip_animation {
      display: inline-block;
      position: absolute;
      z-index: 0;
      right: 16%;
      top: 60%;
      width: 110px;
      height: 110px;
      animation-name: BottomBanner_rotateInfinte__2xsUC;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  .newsletter_form {
    flex-direction: row;
    width: 65%;
    margin: auto;
    justify-content: center;
  }
  .newsletter_form > input[type='text'] {
    width: 65%;
    margin: 0;
  }
  .newsletter_form > button {
    margin: 0;
    max-width: 200px;
    width: 35%;
    border-radius: 0 5px 5px 0;
  }
  .bottom_banner_section_newsletter {
    .newsletter_concentric_circle_animation {
      left: 20%;
    }
    .newsletter_strip_animation {
      left: 16%;
    }
    .newsletter_plane_animation {
      right: 18%;
    }
  }
}
