@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.review_section {
  width: 100%;
  padding: 4rem 2rem;
  position: relative;
  background-color: colors.$clr-card-white;
}

.review_container {
  width: 95%;
  margin: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: colors.$clr-card-white;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.review_card {
  flex-shrink: 0;
  width: 95%;
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid colors.$clr-black-20;
  padding: 1rem;
  background-color: colors.$clr-card-white;
}

.review {
  font-size: 0.9em;
}

.reviewer_profile {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: flex-start;
  gap: 10px;
}

.reviewer_profile img {
  border-radius: 100%;
}

.reviewer_details {
  display: flex;
  flex-direction: column;
}

.reviewer_name {
  margin: 0;
  font-size: 1.2em;
  color: colors.$clr-primary;
}

.reviewer_position {
  font-size: 0.9em;
  margin: 0;
}

.review_pagination_container {
  width: max-content;
  margin: 1rem auto 0 auto;
  background-color: colors.$clr-card-white;
}

.review_animation {
  display: none;
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .review_container {
    width: 90%;
    gap: 5%;
  }
  .review_card {
    width: 45%;
  }
  .review_animation {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -5rem;
  }
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .review_container {
    width: 80%;
    gap: 10%;
  }
}
