@use '../abstracts/sizes' as sizes;
@use '../abstracts/colors' as colors;

@mixin action-btn {
  padding: 1rem 0.8rem;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  list-style: none;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s linear;
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-white;
    background-color: colors.$clr-footer-background;
  }
}
