@use '../../styles/abstracts/colors' as colors;
@use '../../styles/abstracts/breakpoints' as breakpoints;

.course_card {
  width: clamp(310px, 80%, 330px);
  margin: 0 auto 3rem auto;
  display: flex;
  flex-direction: column;
  background-color: colors.$clr-white;
  border: none;
  border-radius: 12px;
  box-shadow: 23px 27.85px 50.85px 0px colors.$clr-primary-09;
  overflow: hidden;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 23px 27.85px 50.85px 0px colors.$clr-primary-14;
  }
}

.img_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card_img {
  width: 100%;
  min-width: 100%;
  min-height: 190px;
  max-height: 190px;
  object-fit: cover;
  background-color: colors.$clr-card-blue;
}

.trending {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width: max-content;
  padding: 0.2rem 0.6rem;
  margin: 0.8rem;
  font-size: 0.95em;
  border: none;
  border-radius: 3px;
  background-color: colors.$clr-secondary;
}

.not_trending {
  display: none;
}

.detail_container {
  padding: 0.75rem 0.65rem;
}

.category_level_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course_category {
  padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  color: colors.$clr-white;
  border-radius: 3px;
  background-color: colors.$clr-primary;
}

.course_level_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course_level {
  color: colors.$clr-primary;
  width: max-content;
  margin: 0;
  text-transform: capitalize;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
}

.course_name {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0.9rem 0 0.2rem 0;
}

.course_details {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: colors.$clr-font-para-ltst;
}

.course_link_container {
  width: 100%;
}

.course_link {
  width: 100%;
  padding: 1.4rem 0 0.5rem 0;
  display: block;
  text-align: center;
  color: colors.$clr-primary;
}

@media screen and (min-width: breakpoints.$large-tablet-screen) {
  .course_card {
    width: 46%;
    margin: 0 2% 3rem 2%;
  }
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .course_card {
    width: 30%;
    margin: 0 1.665% 3rem 1.665%;
  }
}
