.card {
  width: 30%;
  // transform: translate(50%,10%);
  text-align: center;
  min-width: 200px;
  margin: 0 1.665% 3rem 1.665%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgb(146 184 255 / 20%);
  overflow: hidden;

  &:hover {
    box-shadow: 0px 8px 16px 0px rgb(146 184 255 / 30%);
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card_img {
  position: relative;
  width: 100%;
  z-index: 0;
  max-height: 300px;
  object-fit: cover;
}

.levels {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  color: white;
  width: 25%;
  margin-right: 0.6rem;
  padding: 0.2rem;
}

.bookmarkBtn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: white;
  border-radius: 8%;
  padding: 0.2rem;
  margin: 0.8rem;
  border: none;
  width: max-content;
  display: grid;
  place-items: center;

  &:hover {
    fill: white;
    background-color: #fe4a55;
  }
}
.bookmark:hover > path {
  fill: #ffffff;
}

.bookmark {
  height: 15px;
  & > path {
    fill: #fe4a55;
  }
  // &>path:hover{
  //   fill:white;

  // }
}

.priceValue {
  margin: 0;
  margin-bottom: 0.3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #2458ff;
  border-top-left-radius: 12px;
  padding: 1rem;
  color: white;
  font-size: 1.2em;
}

.card_Container {
  width: 100%;
  position: relative;

  // .cardFooter{
  //   display: flex;
  //   justify-content: space-between;
  //   margin: 1.5rem;

  // }
}
.courseName {
  text-align: left;
  margin: 1rem;

  &:hover {
    color: blue;
  }
}
.courseFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

.courseDescription {
  text-align: left;
  margin: 1rem;
}
.starRating {
  text-align: left;
  margin: 1rem;
}
.stars > path {
  fill: #f4c150;
}
