@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.footer {
  font-family: 'Nunito', 'Inter', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: colors.$clr-white;
  background-color: colors.$clr-footer;
}

.footer_main_content {
  width: sizes.$wd-85;
  margin: sizes.$etl-0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discription_card_container {
  width: sizes.$wd-100;
  display: flex;
  flex-direction: column;
  .main_heading {
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
    line-height: sizes.$m-0;
    color: colors.$clr-white;
  }
  .main_discription {
    font-weight: 300;
    font-size: fonts.$fs-sm;
    line-height: sizes.$s-4;
    color: colors.$clr-white-lt;
  }
}

.card_container {
  display: flex;
  padding-left: 0;
  width: sizes.$wd-100;
  flex-direction: column;
  li {
    list-style: none;
    width: max-content;
  }
}

.sub_heading {
  font-weight: 400;
  font-size: sizes.$s-1;
  line-height: sizes.$s-3;
  padding-bottom: sizes.$ets-4;
  border-bottom: 1px solid colors.$clr-grey-ltst;
}

.links_list {
  font-weight: 300;
  line-height: sizes.$ets-2;
  color: colors.$clr-white-lt;
  padding: 0;
  > li {
    font-size: sizes.$s-0;
    line-height: sizes.$s-2;
    margin-bottom: sizes.$ets-3;
    list-style-type: none;
    &::before {
      content: '◼︎';
      font-size: fonts.$fs-sm;
      margin-right: sizes.$ets-3;
      color: colors.$clr-primary;
    }
    &:hover,
    &:focus,
    &:active {
      color: colors.$clr-primary;
      transform: translateX(5%);
      transition: transform 0.4s ease-out;
    }
  }
}

.social_media_links_container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.social_media_links_container li {
  margin: sizes.$ets-3 sizes.$ets-3 0 0;
}

.social_media_link {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: colors.$clr-grey-ltst;
  transition: background-color 0.3s ease-in;
}

.social_media_links_container li:hover .social_media_link {
  background-color: colors.$clr-primary;
}

.social_media_link svg {
  width: 20px;
  height: 20px;
  > path {
    fill: colors.$clr-white;
  }
}

.all_rights_reserved_container {
  width: sizes.$wd-90;
  margin: 0 auto sizes.$s-0 auto;
  display: flex;
  flex-direction: column;
  font-size: fonts.$fs-sm;
  color: colors.$clr-white-lt;
  border-top: 1px solid colors.$clr-grey-ltst;
}

.all_rights_reserved {
  width: sizes.$wd-100;
  text-align: center;
}

.all_rights_reserved_links {
  width: sizes.$wd-100;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  a:nth-child(1) {
    padding-right: sizes.$ets-3;
    border-right: 1px solid colors.$clr-white-ltr;
  }
  a:nth-child(2) {
    padding-left: sizes.$ets-3;
  }
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .footer_main_content {
    flex-direction: row;
    margin: sizes.$etl-0 auto 8rem auto;
  }
  .discription_card_container {
    width: sizes.$wd-20;
    .main_heading {
      font-size: fonts.$fs-md;
    }
    .main_discription {
      font-size: fonts.$fs-sm;
    }
  }
  .card_container {
    padding-left: sizes.$m-0;
    width: sizes.$wd-25;
  }
  .all_rights_reserved_container {
    flex-direction: row;
  }
  .all_rights_reserved {
    width: sizes.$wd-55;
    text-align: start;
  }
  .all_rights_reserved_links {
    width: sizes.$wd-45;
    justify-content: flex-end;
  }
}
