@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: colors.$color-primary-white;
  background-color: colors.$color-secondary-dark;
}

.footer_main_content {
  width: 85%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discription_card_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .main_heading {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
  }
  .main_discription {
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
    color: colors.$color-light-text;
  }
}

.card_container {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  li {
    width: max-content;
    list-style: none;
  }
}

.sub_heading {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
  border-bottom: 1px solid colors.$color-lightest-border;
}

.links_list {
  line-height: 1.4em;
  font-weight: 300;
  color: colors.$color-light-text;
  padding: 0;
  > li {
    font-size: 1em;
    margin-bottom: 0.6rem;
    list-style-type: none;
    &::before {
      content: '◼︎';
      margin-right: 0.6rem;
      font-size: 1em;
      color: colors.$color-primary-blue;
    }
    &:hover,
    &:focus,
    &:active {
      transform: translateX(5%);
      transition: transform 0.4s ease-out;
      color: colors.$color-primary-blue;
    }
  }
}

.social_media_links_container {
  display: flex;
  flex-direction: row;
  padding: 0;
  li {
    margin: 0.2rem 0.2rem 0 0;
  }
}

.all_rights_reserved_container {
  width: 90%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  font-size: fonts.$fonts-navbar-li;
  border-top: 1px solid colors.$color-lightest-border;
}

.all_rights_reserved {
  width: 100%;
  text-align: center;
}

.all_rights_reserved_links {
  width: 100%;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  a:nth-child(1) {
    padding-right: 0.5rem;
    border-right: 1px solid colors.$color-primary-white;
  }
  a:nth-child(2) {
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .footer_main_content {
    flex-direction: row;
    margin: 5rem auto 12rem auto;
  }
  .discription_card_container {
    width: 25%;
  }
  .card_container {
    padding-left: 2rem;
    width: 25%;
  }
  .all_rights_reserved_container {
    flex-direction: row;
  }
  .all_rights_reserved {
    width: 60%;
    text-align: start;
  }
  .all_rights_reserved_links {
    width: 40%;
    justify-content: flex-end;
  }
}
