@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;
@use '../../../styles/components/buttons' as act_btn;

.bottom_banner {
  width: sizes.$wd-100;
}

.count_upto_container,
.bottom_banner_section_our_experts,
.bottom_banner_section_online_certification,
.bottom_banner_section_blog,
.bottom_banner_section_newsletter {
  width: sizes.$wd-100;
  padding: sizes.$etl-0 sizes.$s-4;
  width: sizes.$wd-100;
  text-align: center;
}

.count_upto_container {
  background-color: colors.$clr-secondary-white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.count_upto {
  width: sizes.$wd-45;
  display: flex;
  flex-direction: column;
}

.counter_heading_container {
  color: colors.$clr-primary;
  font-size: fonts.$fs-nr;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  > p {
    margin: 0;
    font-size: fonts.$fs-nr;
  }
}

.count_upto_counter {
  color: colors.$clr-primary;
  font-size: fonts.$fs-nr-s;
  margin: 0;
}

.count_upto_discription {
  text-transform: uppercase;
  font-size: fonts.$fs-sm;
  font-size: fonts.$fs-i-lg;
}

.bottom_banner_section_our_experts {
  background-color: colors.$clr-secondary-white;
}

.bottom_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: sizes.$s-2;
  font-size: fonts.$fs-i-lg;
  margin: 0;
}

.bottom_banner_main_heading {
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: fonts.$fs-md-s;
}

.bottom_banner_discription {
  width: sizes.$wd-90;
  line-height: sizes.$s-2;
  margin: sizes.$ets-2 auto sizes.$s-0 auto;
  display: block;
  font-size: fonts.$fs-sm-s;
  color: colors.$clr-grey-lt;
}

.bottom_banner_section_online_certification {
  background-color: colors.$clr-secondary-white-lt;
  position: relative;
}

.bottom_banner_section_online_certification > a {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: sizes.$m-4 auto sizes.$s-0 auto;
  width: max-content;
  text-align: center;
  @include act_btn.action_btn;
  padding: 0 sizes.$m-0;
  > svg {
    width: 15px;
    margin: 0 0.4rem;
  }
  > p {
    line-height: 47px;
    margin: 0 0 0 0.4rem;
  }
}

.bottom_banner_section_online_certification {
  .online_certification_filled_circle_animation {
    display: none;
  }
  .online_certification_concentric_circle_animation {
    display: none;
  }
  .online_certification_strip_animation {
    display: none;
  }
}

.bottom_banner_section_blog {
  background-color: colors.$clr-white;
}

.bottom_banner_blog_para {
  width: sizes.$wd-90;
  line-height: sizes.$s-2;
  margin: sizes.$l-0 auto sizes.$m-0 auto;
  display: block;
  font-size: fonts.$fs-sm-s;
  color: colors.$clr-grey-lt;
  > a {
    color: colors.$clr-primary;
  }
}

.bottom_banner_section_newsletter {
  background-color: colors.$clr-secondary-white;
  position: relative;
}

.newsletter_form {
  display: flex;
  margin: 0 auto sizes.$s-1 auto;
  flex-direction: column;
  width: sizes.$wd-90;
  position: relative;
  z-index: 10;
}

.newsletter_form input[type='text'] {
  width: sizes.$wd-100;
  margin: auto;
  border-radius: sizes.$border-radius 0 0 sizes.$border-radius;
  padding: fonts.$fs-i-lg fonts.$fs-sm;
  font-size: fonts.$fs-sm;
  background-color: colors.$clr-white;
  border: 1px solid colors.$clr-grey-ltst;
  &:active,
  &:focus {
    border: 1px solid colors.$clr-primary;
  }
}

.newsletter_form button {
  width: max-content;
  margin: sizes.$s-0 auto 0 auto;
  padding: fonts.$fs-i-lg fonts.$fs-sm;
  font-size: fonts.$fs-sm-s;
  cursor: pointer;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: sizes.$border-radius;
  border: none;
  transition: background-color 0.3s linear;
  > svg {
    width: 15px;
    margin: 0 0.4rem;
  }
  > p {
    line-height: 23px;
    margin: 0 0 0 0.4rem;
  }
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-white;
    background-color: colors.$clr-secondary;
  }
}

.bottom_banner_section_newsletter {
  .newsletter_concentric_circle_animation {
    display: none;
  }
  .newsletter_strip_animation {
    display: none;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes BottomBanner_rotateInfinte__2xsUC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .count_upto {
    width: sizes.$wd-20;
    font-size: fonts.$fs-nr;
  }
  .bottom_banner_section_online_certification {
    .online_certification_filled_circle_animation {
      display: inline-block;
      position: absolute;
      width: 130px;
      height: 130px;
      left: 10%;
      top: 50%;
      animation-name: upDown;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .online_certification_concentric_circle_animation {
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 15%;
      top: 50%;
      animation-name: zoomOut;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .online_certification_strip_animation {
      display: inline-block;
      position: absolute;
      z-index: 0;
      right: 16%;
      top: 60%;
      width: 110px;
      height: 110px;
      animation-name: BottomBanner_rotateInfinte__2xsUC;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  .newsletter_form {
    flex-direction: row;
    width: 65%;
    margin: auto;
    justify-content: center;
  }
  .newsletter_form > input[type='text'] {
    width: sizes.$wd-65;
    margin: 0;
  }
  .newsletter_form > button {
    margin: 0;
    max-width: 200px;
    width: sizes.$wd-35;
    border-radius: 0 sizes.$border-radius sizes.$border-radius 0;
  }
  .bottom_banner_section_newsletter {
    .newsletter_concentric_circle_animation {
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 60px;
      left: 20%;
      top: 30%;
      animation-name: zoomOut;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .newsletter_strip_animation {
      display: inline-block;
      position: absolute;
      z-index: 0;
      left: 16%;
      top: 40%;
      width: 110px;
      height: 110px;
      animation-name: BottomBanner_rotateInfinte__2xsUC;
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
