@use '@/colors' as colors;
@use '@/breakpoints' as breakpoints;

.stepDegree_section {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stepDegree_container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tag_mobile {
  width: 150px;
  margin: 1.5rem 0 0 0;
  padding: 0.8rem 0.8rem;
  background-color: colors.$clr-primary-09;
  color: colors.$clr-primary;
  font-size: 1em;
  text-align: center;
  border-radius: 6px;
}

.heading_mobile {
  margin: 1rem 1rem 0 0.2rem;
  font-size: 3.2em;
  font-weight: 700;
  color: colors.$clr-font-main;
  span {
    color: colors.$clr-primary;
  }
}

.para_container_monitor {
  display: none;
}

.img_area {
  width: 100%;
  position: relative;
}

.boy_img {
  width: 100%;
  display: block;
  min-width: 300px;
  max-width: 450px;
  height: auto;
  object-fit: cover;
}

.img_svg {
  min-width: 200px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.para_container_mobile {
  display: block;
  margin: 0 1rem;
}

.para {
  font-size: 1.25em;
  margin: 0.6em 0.2em 0 0.2em;
  line-height: 1.2em;
  color: colors.$clr-font-para;
}

.coming_soon_mobile_btn {
  font-size: 1em;
  display: inline-block;
  margin: 1.2rem 0;
  padding: 0.8rem 1.4rem;
  text-decoration: none;
  border-radius: 30px;
  background-color: colors.$clr-secondary-40;
}

@media screen and (min-width: breakpoints.$monitor-screen) {
  .stepDegree_container {
    padding: 1.5rem 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .tag_mobile,
  .heading_mobile,
  .para_container_mobile {
    display: none;
  }
  .para_container_monitor {
    display: block;
  }
  .text_area {
    width: 100%;
  }
  .tag_monitor {
    width: 150px;
    padding: 0.8rem 0.8rem;
    background-color: colors.$clr-primary-09;
    color: colors.$clr-primary;
    font-size: 1em;
    text-align: center;
    border-radius: 6px;
  }
  .heading_monitor {
    margin-top: 1rem;
    text-align: left;
    color: colors.$clr-font-main;
    font-size: 6em;
    font-weight: bold;
    span {
      color: colors.$clr-primary;
    }
  }
  .para {
    font-size: 1.4em;
    margin-top: 1.8em;
    line-height: 1.2em;
  }
  .img_area {
    width: max-content;
  }
  .boy_img {
    width: 100%;
    max-width: 950px;
  }
  .img_svg {
    bottom: 10px;
    left: -20px;
  }
  .coming_soon_btn {
    display: inline-block;
    margin-top: 1.4em;
    padding: 1em 2em;
    border-radius: 30px;
    background-color: colors.$clr-secondary-40;
    text-decoration: none;
    font-size: 1em;
  }
}
