@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.navbar {
  width: 100%;
  overflow-x: hidden;
  max-height: 8rem;
  padding: 1.3rem 1.4rem;
  display: grid;
  grid-template-columns: 20% 30% 35% 10%;
  grid-template-rows: 100%;
  position: fixed;
  z-index: 100;
  background-color: colors.$clr-white;
  box-shadow: 0 2px 5px 0 colors.$clr-primary-09;
}

.logo_container {
  grid-column: 1/2;
  width: max-content;
  margin: auto;
}

.navbar_links_container {
  grid-column: 3/4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
}

.navbar_links_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.navbar_links_detail {
  position: absolute;
  top: -20px;
  right: 0;
  width: max-content;
  font-size: 0.6em;
  padding: 0.3rem 0.4rem;
  border-radius: 25px;
  background-color: colors.$clr-secondary-50;
}

.navbar_link {
  font-size: 1.2em;
  line-height: 1.4em;
}

.blue_background {
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
}

.signIn_container {
  grid-column: 4/5;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signIn {
  font-size: 1em;
  padding: 0.65rem 1.6rem;
  border-radius: 20px;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  transition: all 0.2s ease-in;
}

.signIn:hover,
.signIn:focus,
.signIn:active {
  color: colors.$clr-black;
  background-color: colors.$clr-secondary;
}

.login_svg_container {
  display: none;
}

// .menu {
//   grid-column: 3/4;
//   display: block;
//   margin: auto;
//   padding: 0;
//   background-color: transparent;
//   border: none;
//   outline: none;
//   display: flex;
//   flex-direction: column;
// }

// .menu_item {
//   width: 25px;
//   height: 3px;
//   margin: 3px;
//   background-color: colors.$clr-black;
//   transition: all 0.3s ease;
// }

// .toggle {
//   &:nth-child(1) {
//     transform: rotate(-50deg) translate(-7px, 5px);
//   }
//   &:nth-child(2) {
//     opacity: 0;
//   }
//   &:nth-child(3) {
//     transform: rotate(50deg) translate(-7px, -5px);
//   }
// }
