@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.navbar {
  width: 100%;
  max-height: 8rem;
  padding: 1.3rem 1.4rem;
  display: grid;
  grid-template-columns: 20% 20% auto 20%;
  grid-template-rows: 100%;
  position: fixed;
  z-index: 100;
  background-color: colors.$clr-primary-04;
  box-shadow: 0 2px 5px 0 colors.$clr-primary-09;
}

.logo_container {
  grid-column: 1/2;
  width: max-content;
  margin: auto;
}

.navbar_links_container {
  grid-column: 3/4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

.navbar_links_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.navbar_links_detail {
  position: absolute;
  top: -20px;
  right: 0;
  width: max-content;
  font-size: 0.6em;
  padding: 0.3rem 0.4rem;
  border-radius: 25px;
  background-color: colors.$clr-secondary-50;
}

.navbar_link {
  font-size: 1.2em;
  line-height: 1.4em;
}

.blue_background {
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
}

.login_register_container {
  grid-column: 4/5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  position: relative;
}

.login_container,
.register_container {
  width: 55px;
  font-size: 1.1em;
  line-height: 1.8em;
  padding: 0.3rem 1.8rem;
  background-color: colors.$clr-white;
  border-radius: 25px;
}

.login_container {
  position: absolute;
  z-index: 10;
  left: 2px;
  background-color: colors.$clr-secondary-90;
  transition: all 0.3s linear;
}

.login_container:hover {
  background-color: colors.$clr-secondary-70;
}

.register_container {
  position: relative;
  font-size: 0.9em;
  line-height: 2.2em;
  padding-left: 2.6rem;
  padding-right: 1rem;
  color: colors.$clr-white;
  background-color: colors.$clr-primary;
  transition: all 0.3s ease;
}

.register_container:hover,
.register_container:active,
.register_container:focus {
  z-index: 100;
  font-size: 1.1em;
  line-height: 1.8em;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: colors.$clr-primary-90;
}

.login_svg_container {
  display: none;
}

// .menu {
//   grid-column: 3/4;
//   display: block;
//   margin: auto;
//   padding: 0;
//   background-color: transparent;
//   border: none;
//   outline: none;
//   display: flex;
//   flex-direction: column;
// }

// .menu_item {
//   width: 25px;
//   height: 3px;
//   margin: 3px;
//   background-color: colors.$clr-black;
//   transition: all 0.3s ease;
// }

// .toggle {
//   &:nth-child(1) {
//     transform: rotate(-50deg) translate(-7px, 5px);
//   }
//   &:nth-child(2) {
//     opacity: 0;
//   }
//   &:nth-child(3) {
//     transform: rotate(50deg) translate(-7px, -5px);
//   }
// }
