@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/breakpoints' as breakpoints;
@use '../../../styles/components/buttons' as act_btn;

.step_degree_banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding: 1rem 1rem 3rem 1rem;
  background-color: colors.$clr-secondary-white;
}

.step_degree_content_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
}

.step_degree_banner_sub_heading {
  text-transform: uppercase;
  color: colors.$clr-primary;
  line-height: fonts.$fs-lg-s;
  font-size: fonts.$fs-sm-s;
  margin: 0;
}

.step_degree_banner_main_heading {
  margin: 0;
  line-height: fonts.$fs-nr-s;
  font-size: fonts.$fs-lg-s;
}

.step_degree_banner_discription {
  line-height: sizes.$s-2;
  margin: sizes.$ets-2 0 sizes.$s-0 0;
  display: block;
  font-size: fonts.$fs-sm-s;
  color: colors.$clr-grey-lt;
  line-height: fonts.$fs-nr;
}

.step_degree_banner_bold_discription {
  margin: 0;
  color: colors.$clr-grey-lt;
  font-weight: bold;
  line-height: fonts.$fs-nr;
}

.step_degree_banner_link {
  margin-top: 1rem;
  width: max-content;
  color: colors.$clr-primary;
  font-weight: bold;
  line-height: fonts.$fs-nr;
  border-bottom: none;
  transition: all 0.2s linear;
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-secondary;
    border-bottom: 1px solid colors.$clr-secondary;
  }
}

.step_degree_image_animation_container {
  width: 100%;
  margin: auto;
}

.step_degree_image_container {
  width: 90%;
  overflow: hidden;
  margin: auto;
  > div {
    transform: scale(1);
    transition: all 0.4s ease-in;
    border-radius: 20px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.step_degree_image_animation_container {
  position: relative;
  z-index: 10;
  .circle_animation {
    display: none;
  }

  .line_animation {
    display: none;
  }
}

@keyframes stepDegreeAnimation {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  50% {
    transform: translate(20%, 10%) scale(1.2);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@media screen and (min-width: breakpoints.$tablet-screen) {
  .step_degree_banner {
    padding: 4rem;
  }
  .step_degree_content_container {
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 4rem 2rem;
  }
  .step_degree_image_animation_container {
    width: 80%;
  }
}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .step_degree_banner {
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding: 5rem;
  }
  .step_degree_content_container {
    width: 40%;
    padding: 4rem 2rem;
  }
  .step_degree_image_animation_container {
    width: 50%;
  }
  .step_degree_image_animation_container {
    position: relative;
    z-index: 10;
    .circle_animation {
      display: inline-block;
      position: absolute;
      top: -5%;
      right: 5%;
      width: 100px;
      z-index: -10;
      animation-name: stepDegreeAnimation;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .line_animation {
      display: inline-block;
      position: absolute;
      bottom: -25%;
      right: 10%;
      width: 100px;
      z-index: -10;
      animation-name: stepDegreeAnimation;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
