// lt - light
// ltr - lighter
// ltst - lightest

$clr-white: rgba(255, 255, 255, 1);
$clr-white-lt: rgba(255, 255, 255, 0.8);
$clr-white-ltr: rgb(255, 255, 255, 0.6);
$clr-white-ltst: rgb(255, 255, 255, 0.4);

$clr-black: rgba(0, 0, 0, 1);
$clr-black-lt: rgba(0, 0, 0, 0.8);
$clr-black-ltr: rgba(0, 0, 0, 0.6);
$clr-black-ltst: rgba(0, 0, 0, 0.4);

$clr-grey: rgb(96, 96, 96, 1);
$clr-grey-lt: rgb(96, 96, 96, 0.8);
$clr-grey-ltr: rgb(96, 96, 96, 0.6);
$clr-grey-ltst: rgb(96, 96, 96, 0.4);

$clr-primary: rgb(37, 87, 251, 1);
$clr-primary-lt: rgb(37, 87, 251, 0.8);
$clr-primary-ltr: rgb(37, 87, 251, 0.6);
$clr-primary-ltst: rgb(37, 87, 251, 0.4);
$clr-primary-ltst-ltst: rgb(37, 87, 251, 0.5);

$clr-secondary: rgb(34, 23, 56, 1);
$clr-secondary-lt: rgb(34, 23, 56, 0.8);
$clr-secondary-ltr: rgb(34, 23, 56, 0.6);
$clr-secondary-ltst: rgb(34, 23, 56, 0.4);

$clr-secondary-white: rgba(248, 249, 248, 1);
$clr-secondary-white-lt: rgba(254, 248, 239, 1);

$clr-orange: rgba(254, 250, 243, 1);

$clr-footer: rgba(17, 16, 32, 1);

// dk - darker
// dkr - darker
// dkst - darker
