$color-primary-white: #ffffff;
$color-secondary-white: #f5f5f5;
$color-primary-blue: #2557fb;
$color-primary-dark: #221738;

$color-secondary-dark: #100f1f;
$color-banner-discription: #606060;
$color-light-text: rgba(255, 255, 255, 0.7);
$color-lightest-border: rgba(255, 255, 255, 0.08);
