$wd-5: 5%;
$wd-10: 10%;
$wd-15: 15%;
$wd-20: 20%;
$wd-25: 25%;
$wd-30: 30%;
$wd-35: 35%;
$wd-40: 40%;
$wd-45: 45%;
$wd-50: 50%;
$wd-55: 55%;
$wd-60: 60%;
$wd-65: 65%;
$wd-70: 70%;
$wd-75: 75%;
$wd-80: 80%;
$wd-85: 85%;
$wd-90: 90%;
$wd-95: 95%;
$wd-100: 100%;

$ets-1: 0.2rem;
$ets-2: 0.4rem;
$ets-3: 0.6rem;
$ets-4: 0.8rem;

$s-0: 1rem;
$s-1: 1.2rem;
$s-2: 1.4rem;
$s-3: 1.6rem;
$s-4: 1.8rem;

$m-0: 2rem;
$m-1: 2.2rem;
$m-2: 2.4rem;
$m-3: 2.6rem;
$m-4: 2.8rem;

$l-0: 3rem;
$l-1: 3.2rem;
$l-2: 3.4rem;
$l-3: 3.6rem;
$l-4: 3.8rem;

$etl-0: 4rem;
$etl-1: 4.2rem;
$etl-2: 4.4rem;
$etl-3: 4.6rem;
$etl-4: 4.8rem;

$border-radius: 5px;
