@use '../../../styles/abstracts/sizes' as size;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/components/buttons' as action_button;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.navbar {
  width: 100%;
  min-height: size.$navbar-height;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: colors.$color-primary-white;

  &_logo {
    align-self: center;
    width: 10%;
    min-width: 150px;
    margin: auto;
  }

  &_search {
    display: none;
    width: 60%;
    min-width: 350px;
    align-self: center;
    form {
      width: 90%;
      margin: auto;
      .navbar_search_input {
        width: 85%;
        font-size: fonts.$fonts-navbar-li;
        padding: 0.8rem 0.8rem;
        border-radius: 5px 0 0 5px;
        border: none;
        outline: none;
        background-color: colors.$color-secondary-white;
      }
      .navbar_search_btn {
        cursor: pointer;
        font-size: fonts.$fonts-navbar-li;
        width: 15%;
        padding: 0.8rem 0.4rem;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: colors.$color-secondary-white;
      }
    }
  }
}

.navbar_links_login_hamber_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
}

.navbar_links_login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 38vh;
  top: -25vh;
  right: 5%;
  z-index: -10;
  width: 90%;
  background-color: colors.$color-primary-white;
  transform: translateY(0%);
  opacity: 0;
  border-radius: 0 0 5px 5px;
  transition: all 0.5s ease-in;
  .navbar_links_container {
    width: 100%;
    font-size: fonts.$fonts-navbar-li;
    display: flex;
    flex-direction: column;
  }
  .navbar_cart_login_container {
    width: 100%;
    font-size: fonts.$fonts-navbar-li;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.navbar_item {
  padding: 0.6rem 1rem;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid colors.$color-secondary-white;
  &:hover,
  &:focus,
  &:active {
    color: colors.$color-primary-blue;
  }
}

.navbar_login_btn {
  @include action_button.action-btn;
}

.burger {
  display: block;
  margin: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  .burger_item {
    width: 30px;
    height: 3px;
    margin: 3px;
    background-color: colors.$color-primary-dark;
    transition: all 0.3s ease;
  }
}

.navbar_links_login_hamber_container .navbar_active {
  opacity: 1;
  transform: translateY(100%);
}

.toggle {
  &:nth-child(1) {
    transform: rotate(-50deg) translate(-7px, 5px);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(50deg) translate(-7px, -5px);
  }
}

// cart and search sign should show
// @media screen and (min-width: breakpoints.$tablet-screen) {}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .navbar {
    justify-content: space-evenly;
    &_search {
      display: block;
      width: 40%;
      min-width: 300px;
    }
  }
}

// cart and login btn should show
// @media screen and (min-width: breakpoints.$tv-screen) {}

// everything in navbar should show
@media screen and (min-width: breakpoints.$tv-screen) {
  .navbar_links_login_hamber_container {
    width: 70%;
  }
  .navbar_links_login_container {
    width: 100%;
    flex-direction: row;
    opacity: 1;
    position: relative;
    height: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    .navbar_links_container {
      width: 70%;
      align-items: center;
      flex-direction: row;
    }
    .navbar_cart_login_container {
      width: 30%;
      flex-direction: row;
    }
  }
  .navbar_item {
    width: 30%;
  }
  .navbar_login_btn {
    width: 70%;
  }
  .burger {
    display: none;
  }
}
