@use '../../../styles/abstracts/sizes' as sizes;
@use '../../../styles/abstracts/fonts' as fonts;
@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/components/buttons' as act_btn;
@use '../../../styles/abstracts/breakpoints' as breakpoints;

.navbar {
  width: sizes.$wd-100;
  min-height: sizes.$etl-0;
  padding: sizes.$ets-2 sizes.$m-0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: colors.$clr-white;

  &_logo {
    align-self: center;
    width: sizes.$wd-10;
    min-width: sizes.$ets-3;
    margin: auto;
  }

  &_search {
    display: none;
    width: sizes.$wd-60;
    min-width: 350px;
    align-self: center;
    form {
      width: sizes.$wd-90;
      margin: auto;
      .navbar_search_input {
        width: sizes.$wd-85;
        font-size: fonts.$fs-sm;
        padding: sizes.$ets-4;
        border-radius: sizes.$border-radius 0 0 sizes.$border-radius;
        border: none;
        outline: none;
        background-color: colors.$clr-secondary-white;
      }
      .navbar_search_btn {
        cursor: pointer;
        font-size: fonts.$fs-sm;
        width: sizes.$wd-15;
        padding: sizes.$ets-4 sizes.$ets-2;
        border-radius: 0 sizes.$border-radius sizes.$border-radius 0;
        border: none;
        background-color: colors.$clr-white-ltr;
      }
    }
  }
}

.navbar_links_login_hamber_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
}

.navbar_links_login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 38vh;
  top: -25vh;
  right: sizes.$wd-5;
  z-index: -10;
  width: sizes.$wd-90;
  background-color: colors.$clr-white;
  transform: translateY(0%);
  opacity: 0;
  border-radius: 0 0 5px 5px;
  transition: all 0.5s ease-in;
  .navbar_links_container {
    width: sizes.$wd-100;
    font-size: fonts.$fs-sm;
    display: flex;
    flex-direction: column;
  }
  .navbar_cart_login_container {
    width: sizes.$wd-100;
    font-size: fonts.$fs-sm;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.navbar_item {
  padding: sizes.$ets-3 sizes.$s-0;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid colors.$clr-white-ltr;
  &:hover,
  &:focus,
  &:active {
    color: colors.$clr-primary;
  }
}

.navbar_login_btn {
  @include act_btn.action-btn;
}

.burger {
  display: block;
  margin: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  .burger_item {
    width: 30px;
    height: 3px;
    margin: 3px;
    background-color: colors.$clr-black;
    transition: all 0.3s ease;
  }
}

.navbar_links_login_hamber_container .navbar_active {
  opacity: 1;
  transform: translateY(100%);
}

.toggle {
  &:nth-child(1) {
    transform: rotate(-50deg) translate(-7px, 5px);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(50deg) translate(-7px, -5px);
  }
}

// cart and search sign should show
// @media screen and (min-width: breakpoints.$tablet-screen) {}

@media screen and (min-width: breakpoints.$laptop-screen) {
  .navbar {
    justify-content: space-evenly;
    &_search {
      display: block;
      width: sizes.$wd-40;
      min-width: 300px;
    }
  }
}

// cart and login btn should show
// @media screen and (min-width: breakpoints.$tv-screen) {}

// everything in navbar should show
@media screen and (min-width: breakpoints.$tv-screen) {
  .navbar_links_login_hamber_container {
    width: sizes.$wd-70;
  }
  .navbar_links_login_container {
    width: sizes.$wd-100;
    flex-direction: row;
    opacity: 1;
    position: relative;
    height: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    .navbar_links_container {
      width: sizes.$wd-70;
      align-items: center;
      flex-direction: row;
    }
    .navbar_cart_login_container {
      width: sizes.$wd-30;
      flex-direction: row;
    }
  }
  .navbar_item {
    width: sizes.$wd-30;
  }
  .navbar_login_btn {
    width: sizes.$wd-70;
  }
  .burger {
    display: none;
  }
}
